    .app-dashboard{
        background: #F4F4F4;
    }

    /* .logo{
        margin-top: 20px;
    } */
    
    .sidemenu{
        height: 90vh;
    }
    .sidemenu.card-box {
        background: black;
    }
    .card-head{
        padding: 0.5em;
    }

    .main{
        background: white;
        min-height: 600px;
    }

    .head{
        height: 15%;
    }

    .card-box, .card {
        background: #fff;
        box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0);
        border-radius: 12px;
        padding: 1.5em;
        flex-direction: column;
        gap: 1.2em;
    }


    .search-box {
    width: 630px;
    min-width: 300px;
    height: 45px;
    border: 0.5px solid #fff;
    display: flex;
    padding: 0;
    justify-content: space-between;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    }

    .search-prompt {
        border: none;
        outline: none;
        float: left;
        margin-top: 5px;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: 20px;
        line-height: 31px;
        font-size: 16px;
        font-family: arial, sans-serif;
        width: 90%;
        position: absolute;

     }

     .tag{
        font-size: 13px;
     }

     .subhead{
        font-size: 14px;

     }
    
    .msg, .notAvailable{
        margin-top:10%;
        text-align: center;
    }


    

    @media only screen and (max-width: 768px) {
        .sidemenu {
          display: none;
        }
    }